.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.title {
	text-align: center;
	margin-bottom: 30px;
}

.signup-container {
    margin: 100px;
}

.asterisk {
    color: red;
}

.errorMsg {
	color: #ff7171;
	font-size: 20px;
	margin-top: 10px;

}

.links {
	text-align: left;
	text-decoration: none;
	font-size: 20px;
	margin-top: 50px;
}

.links:hover {
	text-decoration: none;
}

.container {
	padding: 40px;
	background-color: #4E5D6C;
	border-radius: 8px;
}
